<div id="container">
  <div id="top-bar">
    <div class="menu">
      <span [routerLink]="['/app/demandas']" routerLinkActive="router-link-active">Demandas</span>
      <span [routerLink]="['/app/usuarios']" routerLinkActive="router-link-active">Usuários</span>
      <span>Catálogo</span>
    </div>

    <div id="center"></div>

    <div id="profile">

      <div class="profile-top">
        <div id="user-picture">
          <img src="{{userPicture}}" width="64px" height="64px" />
        </div>
        <div class="actions">
          <mat-icon (click)="logout()">logout</mat-icon>
        </div>
      </div>
      <div class="profile-bottom">
        <div id="user-name">
          <div><mat-icon [routerLink]="['perfil']">settings</mat-icon></div>
          <span>{{currentUser!.nome}}</span>
        </div>
      </div>


    </div>

  </div>

  <div id="breadcrumb">
    @for(item of breadcrumbItens;track item;let last = $last){
      @if(last){
        <span>{{item}}</span>
      }
      @else {
        <span>{{item}} / </span>
      }
    }
  </div>
  <div id="content">

    <router-outlet></router-outlet>
  </div>
</div>