#demanda {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 30ps;
}

#demanda button{
  margin-right: 10px;
}

.user-field {
  display: flex;
  flex-direction: row;
}

.user-field mat-form-field{
  flex-grow: 1;
  margin-left: 15px;
}