.step-form {
  display: flex;
  flex-direction: column;
  min-height: 650px;
}

.fill {
  flex-grow: 1;
}

#titulo {
  padding: 10px;
  margin: 5px;
  background-color: #1469C0;
  color: white;
  font-weight: bold;
}

#subtitulo {
  padding: 10px;
  margin: 5px;
  background-color: #abbed1;
  color: black;
  font-weight: bold;
}


#card-servicos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

.servico-card{
  width: 300px;
  height: 220px;
  display: flex;
  flex-direction: column;
}

.servico-card mat-card-content {
  flex-grow: 1;
}

#adicionar-servico{
  margin-top: 30px;
}

.table-actions button {
  margin-right: 10px;
}

.resumo-content {
  margin: 10px;
}

.pendencia {
  margin-top: 5px;
}

.pendencia-servico {
  font-size: 1.1em;
}

.pendencia-campos {
  margin-left: 5px;
}

.pendencias{
  margin-bottom: 10px;
}