<div id="titulo">Formulário de Demandas Multicloud</div>

@if(!demanda){
<div id="sem-demanda">Demanda não encontrada</div>
}
@else {
@if(readonly){
  <div id="subtitulo">Essa demanda já foi preenchida. Caso necessite alterá-la, entre em contato com o gestor da demanda.</div>
}
<mat-stepper #stepper [selectedIndex]="stepperIndex" (selectionChange)="stepChange($event)">

  <mat-step>
    <form class="step-form">
      <ng-template matStepLabel>Dados Gerais:</ng-template>
      <mat-form-field>
        <mat-label>Cliente</mat-label>
        <input disabled="" name="cliente" matInput [(ngModel)]="demanda.cliente">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [readonly]="readonly" name="email" matInput [(ngModel)]="demanda.emailCliente">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descricao</mat-label>
        <input [readonly]="readonly" name="descricao" matInput [(ngModel)]="demanda.descricao">
      </mat-form-field>
      <div class="fill"></div>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <mat-step label='{{readonly? "Serviços" : "Adicionar Serviços"}}'>
    <form class="step-form">
      <h3>Serviços Adicionados</h3>

      <table mat-table [dataSource]="dataSourceServicos" class="mat-elevation-z8">

        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.metaData.label}} </td>
        </ng-container>

        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef> Quantidade </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
        </ng-container>

        <ng-container matColumnDef="resumo">
          <th mat-header-cell *matHeaderCellDef> Resumo </th>
          <td mat-cell *matCellDef="let element"> {{element.getResumo()}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element" class="actions-col"  class="table-actions">
            <button [disabled]="readonly" mat-mini-fab aria-label="Editar" (click)="editarServico(element)" >
              <mat-icon>edit</mat-icon>
            </button>
            <button [disabled]="readonly" mat-mini-fab aria-label="Excluir" (click)="removerServico(element)">
              <mat-icon>delete</mat-icon>
            </button>
            @if(readonly){
              <button mat-mini-fab aria-label="Excluir" (click)="editarServico(element)">
                <mat-icon>visibility</mat-icon>
              </button>
            }
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="colunasServicos"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasServicos; let i = index;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Sem serviços adicionados</td>
        </tr>
      </table>

      @if(! readonly){
      <div id="adicionar-servico">
      <h3>Adicionar Serviço</h3>
      <div id="card-servicos">
      @for(servico of servicos; track servico){
        <mat-card class="servico-card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{servico.label}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{servico.descricao}}</p>
          </mat-card-content>
          <mat-card-footer>
            <button [disabled]="readonly" (click)="adicionarServico(servico)" mat-button>Adicionar</button>
          </mat-card-footer>
        </mat-card>
      }
      </div>
      </div>
    }
      <div class="fill"></div>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <mat-step label='{{readonly? "Anexos" : "Anexar Arquivos"}}'>
    <form class="step-form">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element" class="actions-col" >
          <button [disabled]="readonly" mat-mini-fab aria-label="Remover" (click)="removerAnexo(element)">
            <mat-icon>delete</mat-icon>
          </button>

          @if(readonly){
          <button mat-mini-fab aria-label="Remover" (click)="visualizarAnexo(element)">
            <mat-icon>visibility</mat-icon>
          </button>
        }
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sem anexos</td>
      </tr>
    </table>
    <input #csvInput hidden="true" type="file" (change)="adicionarAnexo($event)" onclick="this.value=null"/>
    <div  id="add-button">
        <button [disabled]="readonly" mat-flat-button color="primary" (click)="csvInput.click()">Adicionar Arquivo</button>
    </div>

      <div class="fill"></div>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  @if(! readonly){
  <mat-step>
    <form class="step-form">
    <ng-template matStepLabel>Revisar e Solicitar</ng-template>
    <h3>Dados Gerais</h3>
    <div class="resumo-content">
      <div>Cliente: {{demanda.cliente}}</div>
      <div>Descrição: {{demanda.descricao}}</div>
    </div>
    <h3>Serviços</h3>
        <table mat-table [dataSource]="dataSourceServicos" class="mat-elevation-z8">

          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.label}} </td>
          </ng-container>

          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef> Quantidade </th>
            <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
          </ng-container>

          <ng-container matColumnDef="resumo">
            <th mat-header-cell *matHeaderCellDef> Resumo </th>
            <td mat-cell *matCellDef="let element"> {{element.resumo}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="colunasResumoServicos"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasResumoServicos;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Sem serviços adicionados</td>
          </tr>
        </table>

    <h3>Anexos:</h3>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunasResumoAnexos"></tr>
      <tr mat-row *matRowDef="let row; columns: colunasResumoAnexos;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sem anexos</td>
      </tr>
    </table>

    <h3>Campos obrigatórios a preencher: </h3>
    <div class="resumo-content pendencias">
      @if(!posuiPendencias()){
        <div>Sem pendências</div>
      }
    @for(pendencia of pendencias; track pendencia){
      <div class="pendencia">
        <div class="pendencia-servico"><b>Serviço:</b> {{pendencia.nome}}</div>
        <div class="pendencia-campos"><b>Campos:</b> {{pendencia.pendencias.join(", ")}}</div>
      </div>
    }
    </div>

    <div class="fill"></div>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button [disabled]="readonly || posuiPendencias()" mat-flat-button (click)="salvarDemanda()">Solicitar</button>
    </div>
  </form>
  </mat-step>
}
</mat-stepper>
}