#titulo {
  padding: 10px;
  margin: 5px;
  background-color: #1469C0;
  color: white;
  font-weight: bold;
}

#subtitulo {
  padding: 10px;
  margin: 5px;
  background-color: #abbed1;
  color: black;
  font-weight: bold;
}

#campos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
}

.campo {
  flex-grow: 1;
}

.campo textarea{
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.label-area {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 1.1em;
  gap: 5px;
}

#actions {
  display: flex;
  gap: 10px;
  width: 100%;
}