@if(instancia.metaData){
<div id="titulo">Formulário de Demandas Multicloud - {{editar? "Atualizar":"Adicionar"}} {{instancia.metaData.label}}</div>
@if(readonly){
  <div id="subtitulo">Essa demanda já foi preenchida. Caso necessite alterá-la, entre em contato com o gestor da demanda.</div>
}
  <div id="dados-servico">
    <h3>Adicionar {{instancia.metaData.label}}</h3>
    <label>Quantidade:</label>
    <mat-form-field>
      <input type="number" matInput [(ngModel)]="instancia.quantidade"/>
    </mat-form-field>
  </div>
    <app-campo-input [campos]="instancia.campos" [readonly]="readonly"></app-campo-input>

  <div id="actions">
    @if(readonly){
      <button mat-flat-button (click)="cancelar()">Voltar</button>
    }
    @else{
      <button mat-flat-button (click)="adicionar()">{{editar? "Atualizar":"Adicionar"}}</button>
      <button mat-flat-button (click)="cancelar()">Voltar</button>
    }
  </div>
}