<div id="titulo">Formulário de Demandas Multicloud - {{editar? "Atualizar":"Adicionar"}} {{servico.label}}</div>

<div id="campos">
  @for(campo of servico.campos; track campo){
  <div class="campo">
    <div class="label-area" [style.min-width.px]="campo.width">
      <mat-icon aria-hidden="false" matTooltip="{{campo.ajuda}}" matTooltipPosition="below" aria-label="Ajuda"
        fontIcon="help"></mat-icon>
      @if(campo.obrigatorio){
      <label>{{campo.label}} (obrigatório):</label>
      }
      @else {
      <label>{{campo.label}}:</label>
      }

    </div>

    @if(campo.render.element == "input"){
    <mat-form-field [style.min-width.px]="campo.width">
      <input type="{{campo.render.tipo}}" required="{{campo.obrigatorio}}" name="{{campo.nome}}" matInput
        [(ngModel)]="campo.value" />
    </mat-form-field>
    }
    @if(campo.render.element == "combobox"){
    <mat-form-field [style.min-width.px]="campo.width">
      <mat-select [(value)]="campo.value">
        @for (opcao of campo.dominio; track opcao) {
        <mat-option selected [value]="opcao">{{opcao}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    @if(campo.render.element == "checkbox"){
    <mat-form-field [style.min-width.px]="campo.width">
      <mat-select>
        @for (opcao of campo.dominio; track opcao) {
        <mat-option [value]="opcao">{{opcao}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    @if(campo.render.element == "textarea"){
      <mat-form-field [style.min-width.px]="campo.width">
    <textarea matInput [style.min-width.px]="campo.width" [style.min-height.px]="campo.height"></textarea>
  </mat-form-field>
    }


  </div>
  }
  <div id="actions">
    <button mat-flat-button (click)="adicionar()">{{editar? "Atualizar":"Adicionar"}}</button>
    <button mat-flat-button (click)="cancelar()">Cancelar</button>
  </div>
</div>